## <font color=green>This is to monitor database Locks,performance metics</font>

This notebook will help the dba's to quickly gte some performance metics for db2 luw database.

If you find any new sql statements please add notes and share.

Step1:
Import the required **Python libraries**

In [1]:
import sys,os,os.path
os.environ['IBM_DB_HOME']='C:\Program Files\IBM\SQLLIB'
import ibm_db
import ibm_db_sa
import sqlalchemy
%load_ext sql
from IPython.display import HTML
#Import stuff we need
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import numpy as np
import pandas as pd

# All plots should be inline, inside the notebook
%matplotlib inline

In [2]:
## Hide code cells
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

### <font color=green>Connect to the database</font>

In [3]:
%sql db2+ibm_db://db2inst1:UECtZ3x9@db2mbruat1:60000/ods

'Connected: db2inst1@ods'

## <font color=green>Current a database status on all partitions/Members</font>

### <font color=green>Database active since</font>

In [4]:
db_conn_time=%sql select member,db_conn_time as Database_activated from table(mon_get_database(-2)) as mgd
db_conn_time

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[(2, datetime.datetime(2018, 3, 29, 12, 31, 47)),
 (1, datetime.datetime(2018, 4, 26, 12, 2, 30)),
 (0, datetime.datetime(2018, 3, 29, 10, 52, 5))]

###  <font color=green> Checks the status of the database on all members
#### <font color=green>If the VAULE AND Deferred_value are same then we are good</font>

In [5]:
%sql select distinct varchar(NAME,20)  as CONFIGURATION_PARAMETER,Member as member ,substr(VALUE,1,45) as VALUE,substr(DEFERRED_VALUE,1,45) as deferred_value \
FROM SYSIBMADM.DBCFG  \
where name in ('database_consistent','backup_pending','restore_pending','rollfwd_pending')  \
order by 1,2,3 with ur

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[('backup_pending', 0, 'NO                                           ', 'NO                                           '),
 ('backup_pending', 1, 'NO                                           ', 'NO                                           '),
 ('backup_pending', 2, 'NO                                           ', 'NO                                           '),
 ('database_consistent', 0, 'NO                                           ', 'NO                                           '),
 ('database_consistent', 1, 'NO                                           ', 'NO                                           '),
 ('database_consistent', 2, 'NO                                           ', 'NO                                           '),
 ('restore_pending', 0, 'NO                                           ', 'NO                                           '),
 ('restore_pending', 1, 'NO                                           ', 'NO                                           '),
 ('restore_pending', 2, 'NO                                           ', 'NO                                           '),
 ('rollfwd_pending', 0, 'NO                                           ', 'NO                                           '),
 ('rollfwd_pending', 1, 'NO                                           ', 'NO                                           '),
 ('rollfwd_pending', 2, 'NO                                           ', 'NO                                           ')]

### <font color=green>List of all the database paths *includes db/storage/log paths*</font>

In [6]:
%sql  SELECT DBPARTITIONNUM as DBPART,SUBSTR(TYPE,1,30) AS DB_PATH_TYPE, SUBSTR(PATH,1,80) AS PATH_NAME FROM SYSIBMADM.DBPATHS ORDER BY 2,1 with ur;

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[(0, 'DBPATH                        ', '/udata/ODS/METADATA/db2inst1/NODE0000/SQL00001/                                 '),
 (0, 'DBPATH                        ', '/udata/ODS/METADATA/db2inst1/NODE0000/SQL00001/MEMBER0000/                      '),
 (0, 'DBPATH                        ', '/udata/ODS/METADATA/db2inst1/NODE0000/SQL00001/MEMBER0001/                      '),
 (0, 'DBPATH                        ', '/udata/ODS/METADATA/db2inst1/NODE0000/SQL00001/MEMBER0002/                      '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/PROINDX/                                                             '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/PRODATA/                                                             '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/HISTIDX/                                                             '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/IDX/                                                                 '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/TEMP/                                                                '),
 (0, 'DB_STORAGE_PATH               ', '/odsdt/ODS/DATA/                                                                '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/DATA/                                                                '),
 (0, 'DB_STORAGE_PATH               ', '/udata/ODS/IBMTBSP/                                                             '),
 (0, 'LOCAL_DB_DIRECTORY            ', '/udata/ODS/METADATA/db2inst1/NODE0000/sqldbdir/                                 '),
 (0, 'LOGPATH                       ', '/ulog1/ODS/actv_log/NODE0000/LOGSTREAM0000/                                     '),
 (0, 'LOGPATH                       ', '/ulog1/ODS/actv_log/NODE0000/LOGSTREAM0001/                                     '),
 (0, 'LOGPATH                       ', '/ulog1/ODS/actv_log/NODE0000/LOGSTREAM0002/                                     ')]

### <font color=green>Last sucessfull database backup</font>

In [7]:
a=%sql select max(substr(START_TIME,1,8)) as date from SYSIBMADM.DB_HISTORY where operation in ('B') and SQLCODE is null with ur
a

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[('20180319',)]

# <font color=green>Health checks for the database</font>

## **Table space** state for this database
If the tablespace is not in ***NORMAL*** state then we have a problem

In [8]:
%sql select substr(tbsp_name,1,20) as tbsp, TBSP_TYPE, member as dbpart, substr(tbsp_state,1,30) as state from TABLE(MON_GET_TABLESPACE('',-2)) AS t  \
order by tbsp, dbpart with ur ;

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[('EXPLAIN_TBSP        ', 'DMS', 0, 'NORMAL                        '),
 ('EXPLAIN_TBSP        ', 'DMS', 1, 'NORMAL                        '),
 ('EXPLAIN_TBSP        ', 'DMS', 2, 'NORMAL                        '),
 ('QCASN               ', 'DMS', 0, 'NORMAL                        '),
 ('QCASN               ', 'DMS', 1, 'NORMAL                        '),
 ('QCASN               ', 'DMS', 2, 'NORMAL                        '),
 ('QCASN1              ', 'DMS', 0, 'NORMAL                        '),
 ('QCASN1              ', 'DMS', 1, 'NORMAL                        '),
 ('QCASN1              ', 'DMS', 2, 'NORMAL                        '),
 ('QCASN12             ', 'DMS', 0, 'NORMAL                        '),
 ('QCASN12             ', 'DMS', 1, 'NORMAL                        '),
 ('QCASN12             ', 'DMS', 2, 'NORMAL                        '),
 ('QCASN5              ', 'DMS', 0, 'NORMAL                        '),
 ('QCASN5              ', 'DMS', 1, 'NORMAL                        '),
 ('QCASN5              ', 'DMS', 2, 'NORMAL                        '),
 ('QCASN6              ', 'DMS', 0, 'NORMAL                        '),
 ('QCASN6              ', 'DMS', 1, 'NORMAL                        '),
 ('QCASN6              ', 'DMS', 2, 'NORMAL                        '),
 ('SYSCATSPACE         ', 'DMS', 0, 'NORMAL                        '),
 ('SYSCATSPACE         ', 'DMS', 1, 'NORMAL                        '),
 ('SYSCATSPACE         ', 'DMS', 2, 'NORMAL                        '),
 ('SYSTOOLSPACE        ', 'DMS', 0, 'NORMAL                        '),
 ('SYSTOOLSPACE        ', 'DMS', 1, 'NORMAL                        '),
 ('SYSTOOLSPACE        ', 'DMS', 2, 'NORMAL                        '),
 ('SYSTOOLSTMPSPACE    ', 'SMS', 0, 'NORMAL                        '),
 ('SYSTOOLSTMPSPACE    ', 'SMS', 1, 'NORMAL                        '),
 ('SYSTOOLSTMPSPACE    ', 'SMS', 2, 'NORMAL                        '),
 ('TEMPSPACE1          ', 'SMS', 0, 'NORMAL                        '),
 ('TEMPSPACE1          ', 'SMS', 1, 'NORMAL                        '),
 ('TEMPSPACE1          ', 'SMS', 2, 'NORMAL                        '),
 ('TS_162_QTE_INDX2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_162_QTE_INDX2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_162_QTE_INDX2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_162_QTE_INDX3    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_162_QTE_INDX3    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_162_QTE_INDX3    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_DATA     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_DATA     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_DATA     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_DATA1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_DATA1    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_DATA1    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_DATA2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_DATA2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_DATA2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_HIST     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_HIST     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_HIST     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_HIST1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_HIST1    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_HIST1    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_HIST2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_HIST2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_HIST2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_HISTIDX  ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_HISTIDX  ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_HISTIDX  ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_HSTIDX   ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_HSTIDX   ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_HSTIDX   ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_INDX     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_INDX     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_INDX     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_INDX1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_INDX1    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_INDX1    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CORP_INDX2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CORP_INDX2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CORP_INDX2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_DATA3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_DATA3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_DATA3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_DATA4     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_DATA4     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_DATA4     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_CUS_INDX3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_CUS_INDX3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_CUS_INDX3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_HIST      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_HIST      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_HIST      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_HISTIDX   ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_HISTIDX   ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_HISTIDX   ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ITM_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ITM_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ITM_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_LOG_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_LOG_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_LOG_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_LOG_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_LOG_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_LOG_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_LOG_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_LOG_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_LOG_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA4     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA4     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA4     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_DATA5     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_DATA5     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_DATA5     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX4     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX4     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX4     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_ORD_INDX5     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_ORD_INDX5     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_ORD_INDX5     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_DATA3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_DATA3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_DATA3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_OSS_INDX3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_OSS_INDX3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_OSS_INDX3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA4     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA4     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA4     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_DATA5     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_DATA5     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_DATA5     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_QTE_INDX3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_QTE_INDX3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_QTE_INDX3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_DATA     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_DATA     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_DATA     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_DATA1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_DATA1    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_DATA1    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_DATA2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_DATA2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_DATA2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_DATA3    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_DATA3    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_DATA3    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_INDX     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_INDX     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_INDX     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_INDX1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_INDX1    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_INDX1    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_INDX2    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_INDX2    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_INDX2    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_SHIP_INDX3    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_SHIP_INDX3    ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_SHIP_INDX3    ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_UTL_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_UTL_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_UTL_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_UTL_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_UTL_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_UTL_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_UTL_DATA3     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_UTL_DATA3     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_UTL_DATA3     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_DATA1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_DATA1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_DATA1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_DATA2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_DATA2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_DATA2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_INDX1     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_INDX1     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_INDX1     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WHS_INDX2     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WHS_INDX2     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WHS_INDX2     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WMS_DATA      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WMS_DATA      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WMS_DATA      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_16_WMS_INDX      ', 'DMS', 0, 'NORMAL                        '),
 ('TS_16_WMS_INDX      ', 'DMS', 1, 'NORMAL                        '),
 ('TS_16_WMS_INDX      ', 'DMS', 2, 'NORMAL                        '),
 ('TS_32_CORP_DATA     ', 'DMS', 0, 'NORMAL                        '),
 ('TS_32_CORP_DATA     ', 'DMS', 1, 'NORMAL                        '),
 ('TS_32_CORP_DATA     ', 'DMS', 2, 'NORMAL                        '),
 ('TS_32_CORP_DATA1    ', 'DMS', 0, 'NORMAL                        '),
 ('TS_32_CORP_DATA1    ', 'DMS', 1, 'NORMAL                        '),

<font color=green>This would give you the status of the tablespace in ***abnormal*** state</font>

In [9]:
%sql select substr(tbsp_name,1,20) as tbsp, TBSP_TYPE, member as dbpart, substr(tbsp_state,1,30) as state from TABLE(MON_GET_TABLESPACE('',-2)) AS t  where TBSP_STATE != 'NORMAL' \
order by tbsp, dbpart with ur

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[]

##  <font color=green> Container status IF Accessible is 1 then the container is in normal state</font>

In [10]:
%sql select member as dbpart , substr(tbsp_name,1, 18) as tbspname , \
substr(container_name,1, 75) as container_name, \
ACCESSIBLE \
from TABLE(MON_GET_CONTAINER('',-2)) AS t

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[(1, 'SYSCATSPACE       ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000000/C0000000.CAT             ', 1),
 (1, 'TEMPSPACE1        ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000001/C0000000.TMP             ', 1),
 (1, 'USERSPACE1        ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000002/C0000000.LRG             ', 1),
 (1, 'TS_ODS_8KB_TMP    ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000003/C0000000.TMP                ', 1),
 (1, 'TS_ODS_16KB_TMP   ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000004/C0000000.TMP                ', 1),
 (1, 'TS_ODS_32KB_TMP   ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000005/C0000000.TMP                ', 1),
 (1, 'TS_ODS_32KB_DATA  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000006/C0000000.LRG                ', 1),
 (1, 'TS_ODS_16KB_DATA  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000007/C0000000.LRG                ', 1),
 (1, 'TS_ODS_8KB_DATA   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000008/C0000000.LRG                ', 1),
 (1, 'TS_ODS_32KB_DATA1 ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000009/C0000000.LRG                ', 1),
 (1, 'TS_ODS_16KB_DATA1 ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000010/C0000000.LRG                ', 1),
 (1, 'TS_ODS_8KB_DATA1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000011/C0000000.LRG                ', 1),
 (1, 'TS_ODS_32KB_IDX1  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000012/C0000000.LRG                 ', 1),
 (1, 'TS_ODS_16KB_IDX1  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000013/C0000000.LRG                 ', 1),
 (1, 'TS_ODS_8KB_IDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000014/C0000000.LRG                 ', 1),
 (1, 'TS_ODS_32KB_IDX   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000015/C0000000.LRG                 ', 1),
 (1, 'TS_ODS_16KB_IDX   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000016/C0000000.LRG                 ', 1),
 (1, 'TS_ODS_8KB_IDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000017/C0000000.LRG                 ', 1),
 (1, 'SYSTOOLSPACE      ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000018/C0000000.LRG             ', 1),
 (1, 'SYSTOOLSTMPSPACE  ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000019/C0000000.UTM             ', 1),
 (1, 'TS_ODS_32KB_HIST  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000020/C0000000.LRG                ', 1),
 (1, 'TS_ODS_32_HIST_IDX', '/udata/ODS/HISTIDX/db2inst1/NODE0000/ODS/T0000021/C0000000.LRG             ', 1),
 (1, 'TS_ODS_32BLOB_DATA', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000022/C0000000.LRG                ', 1),
 (1, 'TS_PRO_32KB_LOBDT ', '/udata/ODS/PRODATA/db2inst1/NODE0000/ODS/T0000023/C0000000.LRG             ', 1),
 (1, 'TS_PRO_32KB_DATA  ', '/udata/ODS/PRODATA/db2inst1/NODE0000/ODS/T0000024/C0000000.LRG             ', 1),
 (1, 'TS_PRO_32KB_IDX   ', '/udata/ODS/PROINDX/db2inst1/NODE0000/ODS/T0000025/C0000000.LRG             ', 1),
 (1, 'TS_ODS_32MQT_DATA ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000026/C0000000.LRG                ', 1),
 (1, 'TS_ODS_32MQT_IDX  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000027/C0000000.LRG                ', 1),
 (1, 'TS_32_QTE_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000028/C0000000.LRG                ', 1),
 (1, 'TS_32_QTE_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000029/C0000000.LRG                 ', 1),
 (1, 'TS_32_QTE_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000030/C0000000.LRG                ', 1),
 (1, 'TS_32_QTE_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000031/C0000000.LRG                 ', 1),
 (1, 'TS_32_QTE_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000032/C0000000.LRG                ', 1),
 (1, 'TS_32_QTE_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000033/C0000000.LRG                 ', 1),
 (1, 'TS_32_QTE_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000034/C0000000.LRG                ', 1),
 (1, 'TS_32_QTE_INDX3   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000035/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000036/C0000000.LRG                ', 1),
 (1, 'TS_16_QTE_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000037/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000038/C0000000.LRG                ', 1),
 (1, 'TS_16_QTE_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000039/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000040/C0000000.LRG                ', 1),
 (1, 'TS_162_QTE_INDX2  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000041/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000042/C0000000.LRG                ', 1),
 (1, 'TS_162_QTE_INDX3  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000043/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_INDX3   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000044/C0000000.LRG                 ', 1),
 (1, 'TS_8_QTE_INDX     ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000045/C0000000.LRG                 ', 1),
 (1, 'TS_8_QTE_DATA     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000046/C0000000.LRG                ', 1),
 (1, 'TS_8_QTE_DATA1    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000047/C0000000.LRG                ', 1),
 (1, 'TS_8_QTE_INDX1    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000048/C0000000.LRG                 ', 1),
 (1, 'TS_8_QTE_DATA2    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000049/C0000000.LRG                ', 1),
 (1, 'TS_8_QTE_INDX2    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000050/C0000000.LRG                 ', 1),
 (1, 'TS_8_QTE_DATA3    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000051/C0000000.LRG                ', 1),
 (1, 'TS_8_QTE_INDX3    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000052/C0000000.LRG                 ', 1),
 (1, 'TS_16_QTE_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000053/C0000000.LRG                 ', 1),
 (1, 'EXPLAIN_TBSP      ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000054/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000055/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000056/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000057/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000058/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_DATA4   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000059/C0000000.LRG                ', 1),
 (1, 'TS_16_ITM_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000060/C0000000.LRG                ', 1),
 (1, 'TS_16_ITM_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000061/C0000000.LRG                ', 1),
 (1, 'TS_16_ITM_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000062/C0000000.LRG                ', 1),
 (1, 'TS_8_ITM_DATA     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000063/C0000000.LRG                ', 1),
 (1, 'TS_8_ITM_DATA1    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000064/C0000000.LRG                ', 1),
 (1, 'TS_8_ITM_DATA2    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000065/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000066/C0000000.LRG                 ', 1),
 (1, 'TS_32_ITM_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000067/C0000000.LRG                 ', 1),
 (1, 'TS_32_ITM_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000068/C0000000.LRG                 ', 1),
 (1, 'TS_16_ITM_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000069/C0000000.LRG                 ', 1),
 (1, 'TS_16_ITM_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000070/C0000000.LRG                 ', 1),
 (1, 'TS_8_ITM_INDX     ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000071/C0000000.LRG                 ', 1),
 (1, 'TS_8_ITM_INDX1    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000072/C0000000.LRG                 ', 1),
 (1, 'TS_8_ITM_INDX2    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000073/C0000000.LRG                 ', 1),
 (1, 'TS_16_ITM_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000074/C0000000.LRG                 ', 1),
 (1, 'TS_32_ORD_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000075/C0000000.LRG                ', 1),
 (1, 'TS_32_ORD_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000076/C0000000.LRG                ', 1),
 (1, 'TS_32_ORD_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000077/C0000000.LRG                ', 1),
 (1, 'TS_32_ORD_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000078/C0000000.LRG                ', 1),
 (1, 'TS_32_ORD_DATA4   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000079/C0000000.LRG                ', 1),
 (1, 'TS_16_ORD_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000080/C0000000.LRG                ', 1),
 (1, 'TS_16_ORD_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000081/C0000000.LRG                ', 1),
 (1, 'TS_16_ORD_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000082/C0000000.LRG                ', 1),
 (1, 'TS_8_ORD_DATA     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000083/C0000000.LRG                ', 1),
 (1, 'TS_8_ORD_DATA1    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000084/C0000000.LRG                ', 1),
 (1, 'TS_8_ORD_DATA2    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000085/C0000000.LRG                ', 1),
 (1, 'TS_32_ORD_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000086/C0000000.LRG                 ', 1),
 (1, 'TS_32_ORD_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000087/C0000000.LRG                 ', 1),
 (1, 'TS_32_ORD_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000088/C0000000.LRG                 ', 1),
 (1, 'TS_16_ORD_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000089/C0000000.LRG                 ', 1),
 (1, 'TS_16_ORD_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000090/C0000000.LRG                 ', 1),
 (1, 'TS_8_ORD_INDX     ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000091/C0000000.LRG                 ', 1),
 (1, 'TS_8_ORD_INDX1    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000092/C0000000.LRG                 ', 1),
 (1, 'TS_8_ORD_INDX2    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000093/C0000000.LRG                 ', 1),
 (1, 'TS_16_ORD_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000094/C0000000.LRG                 ', 1),
 (1, 'TS_16_CUS_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000095/C0000000.LRG                ', 1),
 (1, 'TS_16_CUS_DATA4   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000096/C0000000.LRG                ', 1),
 (1, 'TS_PRD_32KB_TMP   ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000097/C0000000.TMP                ', 1),
 (1, 'TS_PRD_8KB_TMP    ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000098/C0000000.TMP                ', 1),
 (1, 'TS_PRD_16KB_TMP   ', '/udata/ODS/TEMP/db2inst1/NODE0000/ODS/T0000099/C0000000.TMP                ', 1),
 (1, 'TS_8_ITM_HIST     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000100/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_HIST    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000101/C0000000.LRG                ', 1),
 (1, 'TS_32_ITM_HIST1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000102/C0000000.LRG                ', 1),
 (1, 'TS_8_ITM_HIST_INDX', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000103/C0000000.LRG                 ', 1),
 (1, 'TS_32_ITM_HISTIDX ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000104/C0000000.LRG                 ', 1),
 (1, 'TS_32_ITM_INDX3   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000105/C0000000.LRG                 ', 1),
 (1, 'QCASN             ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000106/C0000000.LRG             ', 1),
 (1, 'QCASN12           ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000107/C0000000.LRG             ', 1),
 (1, 'QCASN5            ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000108/C0000000.LRG             ', 1),
 (1, 'QCASN6            ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000109/C0000000.LRG             ', 1),
 (1, 'QCASN1            ', '/udata/ODS/IBMTBSP/db2inst1/NODE0000/ODS/T0000110/C0000000.LRG             ', 1),
 (1, 'TS_32_FIN_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000111/C0000000.LRG                ', 1),
 (1, 'TS_32_FIN_INDX    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000112/C0000000.LRG                ', 1),
 (1, 'TS_32_UTL_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000113/C0000000.LRG                ', 1),
 (1, 'TS_32_UTL_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000114/C0000000.LRG                 ', 1),
 (1, 'TS_MONITORING     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000115/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_DATA   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000116/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_INDX3  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000117/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_INDX   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000118/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_DATA3  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000119/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000120/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000121/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000122/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000123/C0000000.LRG                 ', 1),
 (1, 'TS_8_CORP_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000124/C0000000.LRG                 ', 1),
 (1, 'TS_8_CORP_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000125/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_INDX   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000126/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_INDX1  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000127/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_DATA   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000128/C0000000.LRG                ', 1),
 (1, 'TS_16_CORP_DATA1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000129/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_DATA1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000130/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_DATA2  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000131/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_HIST   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000132/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_HIST1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000133/C0000000.LRG                ', 1),
 (1, 'TS_16_CORP_HIST   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000134/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_HISTIDX', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000135/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_HISTIDX', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000136/C0000000.LRG                 ', 1),
 (1, 'TS_32_LODS_DATA1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000137/C0000000.LRG                ', 1),
 (1, 'TS_32_LODS_INDX1  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000138/C0000000.LRG                 ', 1),
 (1, 'TS_32_LODS_DATA2  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000139/C0000000.LRG                ', 1),
 (1, 'TS_32_LODS_INDX2  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000140/C0000000.LRG                 ', 1),
 (1, 'TS_32_LODS_DATA3  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000141/C0000000.LRG                ', 1),
 (1, 'TS_32_LODS_INDX3  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000142/C0000000.LRG                 ', 1),
 (1, 'TS_32_LODS_DATA4  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000143/C0000000.LRG                ', 1),
 (1, 'TS_32_LODS_INDX4  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000144/C0000000.LRG                 ', 1),
 (1, 'TS_8_CORP_HST_IDX ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000145/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_INDX2  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000146/C0000000.LRG                 ', 1),
 (1, 'TS_4_CORP_INDX2   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000147/C0000000.LRG                 ', 1),
 (1, 'TS_4_CORP_INDX1   ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000148/C0000000.LRG                 ', 1),
 (1, 'TS_4_CORP_INDX    ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000149/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_INDX1  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000150/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_INDX2  ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000151/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_HIST2  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000152/C0000000.LRG                ', 1),
 (1, 'TS_16_CORP_DATA2  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000153/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000154/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000155/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000156/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_HIST3  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000157/C0000000.LRG                ', 1),
 (1, 'TS_32_CORP_HSTIDX3', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000158/C0000000.LRG                 ', 1),
 (1, 'TS_32_CORP_HSTIDX ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000159/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_HSTIDX ', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000160/C0000000.LRG                 ', 1),
 (1, 'TS_16_CORP_HIST1  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000161/C0000000.LRG                ', 1),
 (1, 'TS_16_CORP_HIST2  ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000162/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_HIST    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000163/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_HIST1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000164/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_HIST2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000165/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_HIST    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000166/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_HIST1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000167/C0000000.LRG                ', 1),
 (1, 'TS_8_CORP_HIST2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000168/C0000000.LRG                ', 1),
 (1, 'TS_4_CORP_HISTINDX', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000169/C0000000.LRG                 ', 1),
 (1, 'TS_8_CORP_HISTINDX', '/udata/ODS/IDX/db2inst1/NODE0000/ODS/T0000170/C0000000.LRG                 ', 1),
 (1, 'TS_32_CUS_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000171/C0000000.LRG                ', 1),
 (1, 'TS_32_CUS_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000172/C0000000.LRG                ', 1),
 (1, 'TS_32_CUS_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000173/C0000000.LRG                ', 1),
 (1, 'TS_32_CUS_DATA3   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000174/C0000000.LRG                ', 1),
 (1, 'TS_16_CUS_DATA    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000175/C0000000.LRG                ', 1),
 (1, 'TS_16_CUS_DATA1   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000176/C0000000.LRG                ', 1),
 (1, 'TS_16_CUS_DATA2   ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000177/C0000000.LRG                ', 1),
 (1, 'TS_8_CUS_DATA     ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000178/C0000000.LRG                ', 1),
 (1, 'TS_8_CUS_DATA1    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000179/C0000000.LRG                ', 1),
 (1, 'TS_8_CUS_DATA2    ', '/udata/ODS/DATA/db2inst1/NODE0000/ODS/T0000180/C0000000.LRG                ', 1),

### <font color=green> Tables currently unavailable. Load pending. Reorg pending. Or need indexes rebuilt </font>

#### <font color=green> Check for inplace_reog_status=aborted that is not a problem </font>

In [11]:
%sql select distinct substr(tabschema, 1, 18) as schema, substr(tabname, 1,50) as tablename \
,available, reorg_pending, inplace_reorg_status, load_status, read_access_only, indexes_require_rebuild as indx_require_rebuild \
from  SYSIBMADM.ADMINTABINFO \
where available = 'N' or \
reorg_pending = 'Y' or \
inplace_reorg_status is not null or \
load_status is not null or \
read_access_only = 'Y' or \
indexes_require_rebuild = 'Y' \
order by 1,2 with ur;

 * db2+ibm_db://db2inst1:***@db2mbruat1:60000/ods
Done.

[('WMOSODS           ', 'ALLOC_INVN_DTL                                    ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ASN_DETAIL                                        ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_CBO                                          ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_FACILITY_MAPPING_WMS                         ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_FACILITY_MAPPING_WMS_HISTORY                 ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_SUPPLIER_XREF_CBO                            ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_WMS                                          ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ITEM_WMS_HISTORY                                  ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'LPN                                               ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'LPN_DETAIL                                        ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'LPN_DETAIL_HISTORY                                ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'LPN_HISTORY                                       ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ORDERS_HISTORY                                    ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ORDER_LINE_ITEM                                   ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ORDER_LINE_ITEM_HISTORY                           ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'ORDER_NOTE                                        ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'PICK_LOCN_DTL                                     ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'PIX_TRAN                                          ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'PIX_TRAN_HISTORY                                  ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'PKT_DTL_HISTORY                                   ', 'Y', 'N', 'ABORTED', None, 'N', 'N'),
 ('WMOSODS           ', 'WM_INVENTORY                                      ', 'Y', 'N', 'ABORTED', None, 'N', 'N')]